<div fxLayout="row" fxFlex fxLayoutAlign="center center" class="geral">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/category-card.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Categorias</h5>
            <p class="card-text">
                Cadastro de categorias <br>
                Listagem de categorias
            </p>
            <a class="btn btn-primary" (click)="goToPage('category')">Acessar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/produtos-card.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Produtos</h5>
            <p class="card-text">
                Cadastro de produtos <br>
                Listagem de Produtos
            </p>
            <a class="btn btn-primary" (click)="goToPage('product')">Acessar</a>
        </div>
    </div>

    <input [(ngModel)]="teste">

    <p>{{this.teste}}</p>
</div>