<div class="geral">
    <form>
        <div class="form-group">
            <label>Nome da Categoria</label>
            <input [(ngModel)]="name" name="name" class="form-control">
            <small id="emailHelp" class="form-text text-muted">Escreva o nome da categoria para cadastro</small>
        </div>

        <button type="submit" class="btn btn-primary" (click)="saveCategory()">Salvar</button>
    </form>

    <div>
        <form>

        </form>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Acao</th>

            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let category of categories">
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td><button class="btn btn-default" (click)="deleteCategory(category.id)"><img alt="trash-icon" src="assets/trash-icon.svg"></button></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>