<div class="geral">
    <h2>Sobre o Projeto</h2>
    <p>
        Projeto de gerenciamento de produtos e categorias de produtos.
    </p>

    <h2>Tecnologias Utilizadas</h2>
    <h4>
        Front-end
    </h4>
    <ul>
        <li><span>Angular 14</span><img alt="angular" src="assets/angular-logo.svg"></li>
        <li><span>Bootstrap</span><img alt="bootstrap" src="assets/bootstrap.svg"></li>
    </ul>

    <h4>
        Back-end
    </h4>
    <ul>
        <li><span>Django</span><img alt="django" src="assets/django.svg"></li>
        <li><span>Docker</span><img alt="docker" src="assets/docker-icon.svg"></li>
        <li><span>MariaDB</span><img alt="mariadb" src="assets/mariadb-icon.svg"></li>

    </ul>

</div>