<div class="geral">
    <form>
        <div class="form-group">
            <label>Nome do Produto</label>
            <input [(ngModel)]="name" name="name" class="form-control">
            <small class="form-text text-muted">Escreva o nome do produto para cadastro</small>
        </div>
        <div fxLayout="row" fxFlexAlign="space-betwwen center" class="form-group">
            <div>
                <label>Preco</label>
                <input [(ngModel)]="price" name="price" class="form-control">
                <small class="form-text text-muted">Escreva o preco do produto para cadastro</small>
            </div>
            <div >
                <label>Numero de Serie</label>
                <input [(ngModel)]="serie" type="number" name="serie" class="form-control">
                <small class="form-text text-muted">Escreva o numero de serie para cadastro</small>
            </div>
        </div>
        <div>
            <label>Categoria</label>
            <select [(ngModel)]="category" name="category" class="form-control">
                <option selected>-</option>
                <option *ngFor="let category of this.categories" value="{{category.id}}">{{category.name}}</option>
            </select>
            <small class="form-text text-muted">Escreva o nome do produto para cadastro</small>
        </div>

        <button type="submit" class="btn btn-primary" (click)="saveProduct()">Salvar</button>
    </form>

    <div>
        <form>

        </form>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preco</th>
                <th scope="col">Serie</th>
                <th scope="col">Categoria</th>
                <th scope="col">Acao</th>

            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>R${{product.price}}</td>
                <td>{{product.serie}}</td>
                <td>{{product.category_name}}</td>
                <td><button class="btn btn-default" (click)="deleteProduct(product.id)"><img alt="trash-icon" src="assets/trash-icon.svg"></button></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>